.sesskey
dpdispatcher.log
/.vscode
/.idea
*.pyc
__pycache__
/workspace
/logs
/tests/test_output
/templates
POTCAR
/devdocs
/reference_codes
/configs/dpdispatcher/machines.yaml
/reference_scripts
/project_space
/.codex
/files